---
---

@import "{{ site.theme }}";
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,700&display=swap");

body {
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: #00917a;
}

.main-content > p > img {
  display: flex;
  margin: auto;
}

@media screen and (min-width: #{$medium-breakpoint}) {
  .main-content p:has(img):not(p:has(img:only-child)) {
    width: 90vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.main-content {
  @include large{
    max-width: 84rem;
  }
  p:has(img) {
    display: flex;
    flex-wrap: wrap;
    img {
      max-width: 100%;
    }
    @media screen and (min-width: #{$medium-breakpoint}) {
      flex-wrap: nowrap;
      > img:only-child {
        max-width: 100% !important;
      }
      > img:first-child {
        max-width: 35%;
      }
      > img:nth-child(2) {
        max-width: 65%;
      }
    }
  }
}

.page-header {
  text-align: left;
  .logo {
    width: 200px;
    margin-bottom: 1rem;
  }
  .brand {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .project-headline {
    @include large {
      font-size: 2.75rem;
    }
    @include medium {
      font-size: 2rem;
    }
    @include small {
      font-size: 1.5rem;
    }
  }

  @include large {
    padding: 2rem 6rem;
  }
}

.wrapper {
  @include large {
    max-width: 84rem;
    padding: 0 6rem;
    margin: 0 auto;
  }

  @include medium {
    padding: 0 4rem;
  }

  @include small {
    padding: 0 1rem;
  }
}

footer.site-footer {
  border-top-style: solid;
  border-top-width: 20px;
  border-image: linear-gradient(90deg, rgb(0, 145, 122) 0%, rgb(167, 198, 55) 100%) 1;

  .coop {
    display: flex;
    a {
      flex: 1 1 0;
      min-width: 0;
      > img {
        max-width: 100%;
      }
    }
    justify-content: space-between;
    align-items: center;
  }
  .site-footer-credits,
  .license {
    text-align: center;
  }
}

a {
  color: #00917a;
}

.buttons {
  display: flex;
  align-items: baseline;
}

a.button {
  display: block;
  max-width: fit-content;
  margin: 5px 0;
  padding: 12px 10px;
  border-radius: 5px;
  color: #fff;
  background: #00917a;
  &:hover {
    background: #a7c637;
    text-decoration: none;
  }
  &:not(:first-child) {
    margin-left: 8px;
  }
}

hr,
.page-header {
  background-image: linear-gradient(90deg, rgb(0, 145, 122) 0%, rgb(167, 198, 55) 100%);
}
hr {
  height: 1px;
}
