<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
        <div class="wrapper">
            {% if site.image %}
                <img class="logo" src="{{ site.image }}" alt="{{ page.title | default: site.title | default: site.github.repository_name }}">
            {% endif %}
            <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
            <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
            {% if site.github.is_project_page %}
                <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
            {% endif %}
            {% if site.show_downloads %}
                <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
                <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
            {% endif %}
        </div>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <div class="coop">
          <a target="_blank" href="https://fairagro.net/" title="FAIRagro">
            <img src="./assets/logos/fairagro.png" alt="FAIRagro">
          </a>
          
          <a target="_blank" href="https://www.nfdi.de/" title="NFDI">
            <img src="./assets/logos/nfdi.png" alt="NFDI">
          </a>
          
          <a target="_blank" href="https://dfg.de/" title="DFG">
            <img src="./assets/logos/dfg.jpg" alt="DFG">
          </a>
          
          <a target="_blank" href="https://thuenen.de" title="Thünen">
            <img src="./assets/logos/thuenen.png" alt="Thünen">
          </a>
          
          <a target="_blank" href="https://www.ipk-gatersleben.de/" title="IPK Gatersleben">
            <img src="./assets/logos/ipk.png" alt="IPK Gatersleben">
          </a>
        </div>
        <span class="license">This work is licensed under <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a></span>
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a target="_blank" href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>